
piexif
timm==0.6.13
transformers
fairscale
pycocoevalcap
opencv-python
qrcode[pil]
pytorch_lightning
kornia
pydantic
https://github.com/jllllll/bitsandbytes-windows-webui/releases/download/wheels/bitsandbytes-0.40.1.post1-py3-none-win_amd64.whl
accelerate
diffusers
sentencepiece
segment-anything
scikit-image
opencv-python-headless
GitPython
ultralytics!=8.0.177
matplotlib
librosa
numpy
Pillow
scipy
color-matcher
matrix-client==0.4.0
pyOpenSSL
watchdog
openai
lark
jinja2
imageio-ffmpeg
torch
importlib_metadata
huggingface_hub
opencv-python>=4.7.0.72
filelock
einops
torchvision
pyyaml
python-dateutil
mediapipe
svglib
fvcore
yapf
omegaconf
ftfy
addict
torch>=1.2.0
torchvision>=0.4.0
argostranslate
#git+https://github.com/StarkBotsIndustries/googletrans.git
#If googletrans-py cannot be installed, use the GitHub installation method mentioned above.
googletrans-py
deep-translator
pandas
numexpr
ultralytics
clip-interrogator
simpleeval
future
lmdb
requests
tb-nightly
tqdm
lpips
gdown # supports downloading the large file from Google Drive
# cmake
# dlib
# conda install -c conda-forge dlib
rembg
cmake
fairscale>=0.4.4
git+https://github.com/WASasquatch/img2texture.git
git+https://github.com/WASasquatch/cstr
gitpython
imageio
joblib
numba
numpy>=1.18.5, <1.25.0
opencv-python-headless[ffmpeg]<=4.7.0.72
pilgram
git+https://github.com/WASasquatch/ffmpy.git
scikit-image==0.20.0
scikit-learn
timm>=0.4.12
transformers==4.26.1
